*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;   
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration:none;
    color:rgb(65, 108, 146);
}
p{
    color:rgb(0, 0, 0);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #3b52ff;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgb(20, 23, 42);
}
.header{
    background: radial-gradient(#ffffff,#ddd6ff);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width:1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(65, 108, 146);
}
.title::after{
    content: '';
    background: #3b52ff;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
h4{
    color: rgb(65, 108, 146);
    font-weight:bold;
}
.col-4 p{
    font-size:20px;
}
.rating .fa{
    color: #3b52ff;
}
.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background: radial-gradient(#e83232,#590808);
    margin-top: 90px;
    padding:50px 0px;
    border-radius: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.offer p {
    color: #e6e6e6
}

.offer h1 {
    color: #e6e6e6
}

.col-2 .offer-img{
    padding: 50px;
}
small{
    color: rgb(0, 0, 0);
}
.footer {
    padding: 40px 0;
    background-color: #ffffff;
  }
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(65, 108, 146);
  }
  .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  .footer .social a:hover {
    opacity: 5;
  }
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .footer ul a:hover {
    opacity: 1;
  }
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(65, 108, 146);
  }
  .menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
  }
  /*-----przy zmianie szerokości okna---*/
  @media only screen and (max-width: 800px){
   nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
   }
nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul li a{
    color: rgb(255, 255, 255);
}
.menu-icon{
    display: block;
    cursor: pointer;
}
  }
/*-----przy zmianie szerokości okna dla telefonu---*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 36px;
        line-height: 28px;
    }
    .cart-info p{
        display: none;
    }
}

/* -----------------all products page----------------- */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #3b52ff;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #3b52ff;
    color: #fff;
}

/* -----------------single product page----------------- */
.single-product{
    margin-top: 80px;

}
.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 10px;
}
.single-product h4{
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
}
.single-product h2{
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
}

/* <!-- ------cart items details------ --> */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #3b52ff;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #3b52ff;
}
td img{
    width: 85px;
    height:120px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #3b52ff;
    width: 100%;
    max-width: 325px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* <!-- ------account page------ --> */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #3b52ff);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 24px;
    color: #555;
    cursor: pointer;
    width: 100%;
    /* display: inline-block; */
}
.form-btn{
    display:inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #3b52ff;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

#about {
    text-align: center;
    background: radial-gradient(#195ed5,#3b2fe4);
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 25px 50px;
    border-radius: 50px;
    
}
    

#about p {
    color:#fcfcfc;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 23px;
}

#about h1 {
    color:rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
    padding-top: 25px;
    font-weight: bold;
}

#contact {
    background: radial-gradient(#195ed5,#3b2fe4);
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
    text-align: center;
    position: relative;
}

#contact h1{
    color:rgba(0, 0, 0, 0.8);
}

#contact p {
    color:#fcfcfc;
    margin-top: 25px;
    line-height: 30px;
}

span {
    color: #d4cbfe;
}